<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    <!-- =============================jsp=================================-->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ho</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>db</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>su</servlet-name>
        <jsp-file>/signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>su</servlet-name>
        <url-pattern>/su</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pd</servlet-name>
        <jsp-file>/product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pd</servlet-name>
        <url-pattern>/pd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rpt</servlet-name>
        <jsp-file>/report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpt</servlet-name>
        <url-pattern>/rpt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>acc</servlet-name>
        <jsp-file>/account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>acc</servlet-name>
        <url-pattern>/acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rpt</servlet-name>
        <url-pattern>/rpt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bus</servlet-name>
        <jsp-file>/business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>bus</servlet-name>
        <url-pattern>/bus</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>usr</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr</servlet-name>
        <url-pattern>/usr</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>cus</servlet-name>
        <jsp-file>/customer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cus</servlet-name>
        <url-pattern>/cus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dis</servlet-name>
        <jsp-file>/discount.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dis</servlet-name>
        <url-pattern>/dis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dis_cr</servlet-name>
        <jsp-file>/discount_create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dis_cr</servlet-name>
        <url-pattern>/dis_cr</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>sto</servlet-name>
        <jsp-file>/stock.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sto</servlet-name>
        <url-pattern>/sto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sto_cr</servlet-name>
        <jsp-file>/stock_create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sto_cr</servlet-name>
        <url-pattern>/sto_cr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sto_ed</servlet-name>
        <jsp-file>/edit_stock.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sto_ed</servlet-name>
        <url-pattern>/sto_ed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sum</servlet-name>
        <jsp-file>/summary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sum</servlet-name>
        <url-pattern>/sum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sup</servlet-name>
        <jsp-file>/supplier.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sup</servlet-name>
        <url-pattern>/sup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>voi</servlet-name>
        <jsp-file>/void.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>voi</servlet-name>
        <url-pattern>/voi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fopa</servlet-name>
        <jsp-file>/forgot_password.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fopa</servlet-name>
        <url-pattern>/fopa</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>db_a</servlet-name>
        <jsp-file>/dashboard_admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db_a</servlet-name>
        <url-pattern>/db_a</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usr_a</servlet-name>
        <jsp-file>/user_admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr_a</servlet-name>
        <url-pattern>/usr_a</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>coa</servlet-name>
        <jsp-file>/coa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>coa</servlet-name>
        <url-pattern>/coa</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>inc</servlet-name>
        <jsp-file>/income.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>inc</servlet-name>
        <url-pattern>/inc</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>exp</servlet-name>
        <jsp-file>/expense.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>exp</servlet-name>
        <url-pattern>/exp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jur</servlet-name>
        <jsp-file>/jurnal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jur</servlet-name>
        <url-pattern>/jur</url-pattern>
    </servlet-mapping>
    
    
    <!-- ============================servlet==============================-->        
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.matapos.servlet.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgs</servlet-name>
        <servlet-class>com.matapos.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgs</servlet-name>
        <url-pattern>/lgs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgos</servlet-name>
        <servlet-class>com.matapos.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgos</servlet-name>
        <url-pattern>/lgos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sgn</servlet-name>
        <servlet-class>com.matapos.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sgn</servlet-name>
        <url-pattern>/sgn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pds</servlet-name>
        <servlet-class>com.matapos.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pds</servlet-name>
        <url-pattern>/pds</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cat</servlet-name>
        <servlet-class>com.matapos.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cat</servlet-name>
        <url-pattern>/cat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>opt</servlet-name>
        <servlet-class>com.matapos.servlet.OptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>opt</servlet-name>
        <url-pattern>/opt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadHandler_item</servlet-name>
        <servlet-class>com.matapos.servlet.FileUploadHandler_item</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler_item</servlet-name>
        <url-pattern>/upload_item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.ItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/isv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailReport</servlet-name>
        <servlet-class>com.matapos.servlet.DetailReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailReport</servlet-name>
        <url-pattern>/drp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailTrx</servlet-name>
        <servlet-class>com.matapos.servlet.DetailTrx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailTrx</servlet-name>
        <url-pattern>/dtr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemReport</servlet-name>
        <servlet-class>com.matapos.servlet.ItemReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemReport</servlet-name>
        <url-pattern>/irp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBiodataServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditBiodataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBiodataServlet</servlet-name>
        <url-pattern>/ebi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditContactServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditContactServlet</servlet-name>
        <url-pattern>/eco</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPhoneServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditPhoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPhoneServlet</servlet-name>
        <url-pattern>/epo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPasswordServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPasswordServlet</servlet-name>
        <url-pattern>/epas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddOutletServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddOutletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOutletServlet</servlet-name>
        <url-pattern>/aou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOutletServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteOutletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOutletServlet</servlet-name>
        <url-pattern>/delou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusinessServlet</servlet-name>
        <servlet-class>com.matapos.servlet.BusinessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusinessServlet</servlet-name>
        <url-pattern>/busi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditOutletServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditOutletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditOutletServlet</servlet-name>
        <url-pattern>/editou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.matapos.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/usri</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deluser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.matapos.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/cusi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addcus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/editcus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/delcus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscountServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscountServlet</servlet-name>
        <url-pattern>/disi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscountItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DiscountItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscountItemServlet</servlet-name>
        <url-pattern>/dis_item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateDiscountServlet</servlet-name>
        <servlet-class>com.matapos.servlet.CreateDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateDiscountServlet</servlet-name>
        <url-pattern>/cr_dis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditDiscountServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDiscountServlet</servlet-name>
        <url-pattern>/ed_dis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteDiscountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDiscountServlet</servlet-name>
        <url-pattern>/del_dis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>com.matapos.servlet.VoucherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/vou_s</url-pattern>
    </servlet-mapping>
    <!--    <servlet>
        <servlet-name>DiscountItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DiscountItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscountItemServlet</servlet-name>
        <url-pattern>/dis_item</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <servlet-class>com.matapos.servlet.CreateVoucherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateVoucherServlet</servlet-name>
        <url-pattern>/cr_vou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditVoucherServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditVoucherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditVoucherServlet</servlet-name>
        <url-pattern>/ed_vou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteVoucherServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteVoucherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVoucherServlet</servlet-name>
        <url-pattern>/del_vou</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLogServlet</servlet-name>
        <servlet-class>com.matapos.servlet.UserLogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogServlet</servlet-name>
        <url-pattern>/usr_log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OutletSalesServlet</servlet-name>
        <servlet-class>com.matapos.servlet.OutletSalesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OutletSalesServlet</servlet-name>
        <url-pattern>/out_sal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SummaryReportServlet</servlet-name>
        <servlet-class>com.matapos.servlet.SummaryReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SummaryReportServlet</servlet-name>
        <url-pattern>/rep_sum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>com.matapos.servlet.GraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/get_graph</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/add_cate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/edit_cate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/del_cate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/add_item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditItemServlet</servlet-name>
        <url-pattern>/edit_item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/del_item</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>StockServlet</servlet-name>
        <servlet-class>com.matapos.servlet.StockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockServlet</servlet-name>
        <url-pattern>/stoi</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateStockServlet</servlet-name>
        <servlet-class>com.matapos.servlet.CreateStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStockServlet</servlet-name>
        <url-pattern>/cr_sto</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>StockItemServlet</servlet-name>
        <servlet-class>com.matapos.servlet.StockItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockItemServlet</servlet-name>
        <url-pattern>/sto_item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditStockServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStockServlet</servlet-name>
        <url-pattern>/ed_sto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteStockServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStockServlet</servlet-name>
        <url-pattern>/del_sto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dbs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountServletGet</servlet-name>
        <servlet-class>com.matapos.servlet.AccountServletGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServletGet</servlet-name>
        <url-pattern>/accget</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBrandServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditBrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBrandServlet</servlet-name>
        <url-pattern>/ebrand</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SummaryServlet</servlet-name>
        <servlet-class>com.matapos.servlet.SummaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SummaryServlet</servlet-name>
        <url-pattern>/sum_sv</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>com.matapos.servlet.SupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/addsup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditSupplierServlet</servlet-name>
        <servlet-class>com.matapos.servlet.EditSupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditSupplierServlet</servlet-name>
        <url-pattern>/editsup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>com.matapos.servlet.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/delsup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>com.matapos.servlet.RefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/refund</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>com.matapos.servlet.ResetPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/respas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fileUploadServlet</servlet-name>
        <servlet-class>com.tes.fileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploadServlet</servlet-name>
        <url-pattern>/fileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MerchantServlet</servlet-name>
        <servlet-class>com.matapos.servlet.MerchantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MerchantServlet</servlet-name>
        <url-pattern>/adm_merc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandSalesServlet</servlet-name>
        <servlet-class>com.matapos.servlet.BrandSalesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandSalesServlet</servlet-name>
        <url-pattern>/brand_sal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GraphBrandServlet</servlet-name>
        <servlet-class>com.matapos.servlet.GraphBrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphBrandServlet</servlet-name>
        <url-pattern>/brand_graph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IncomeList</servlet-name>
        <servlet-class>com.matapos.servlet.IncomeList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncomeList</servlet-name>
        <url-pattern>/inc_list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExpenseList</servlet-name>
        <servlet-class>com.matapos.servlet.ExpenseList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExpenseList</servlet-name>
        <url-pattern>/exp_list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddExpenseServlet</servlet-name>
        <servlet-class>com.matapos.servlet.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpenseServlet</servlet-name>
        <url-pattern>/add_expense</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JurnalList</servlet-name>
        <servlet-class>com.matapos.servlet.JurnalList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JurnalList</servlet-name>
        <url-pattern>/jur_list</url-pattern>
    </servlet-mapping>
    
</web-app>
